/***** Base Button Styles *****/

.button {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));

    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}


/***** Contained *****/

.contained {
    transition: border-color 400ms, background-color 400ms, box-shadow 400ms;
}


/***** Contained Primary *****/

.contained.primary {
    background-color: var(--blue-200);
    border: 1px solid var(--blue-200);
    color: var(--white);
}

.contained.primary:hover {
    background-color: var(--blue-300);
    border: 1px solid var(--blue-300);
}

.contained.primary:focus {
    background-color: var(--blue-300);
    border: 1px solid var(--blue-300);
}

.contained.primary:active {
    background-color: var(--blue-300);
    border: 1px solid var(--blue-300);
    box-shadow: 0 0 0 4px var(--blue-100);
}


/***** Contained Gray *****/

.contained.gray {
    background-color: var(--gray-700);
    border: 1px solid var(--gray-700);
    color: var(--white);
}

.contained.gray:hover {
    background-color: var(--gray-700);
    border: 1px solid var(--gray-700);
}

.contained.gray:focus {
    background-color: var(--gray-700);
    border: 1px solid var(--gray-700);
}

.contained.gray:active {
    background-color: var(--gray-700);
    border: 1px solid var(--gray-700);
    box-shadow: 0 0 0 3px var(--gray-200);
}


/***** Contained White *****/

.contained.white {
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--gray-700);
}

.contained.white:hover {
    background-color: var(--white);
    border: 1px solid var(--white);
}

.contained.white:focus {
    background-color: var(--white);
    border: 1px solid var(--white);
}

.contained.white:active {
    background-color: var(--white);
    border: 1px solid var(--white);
    box-shadow: 0 0 0 3px var(--white);
}


/***** Outlined *****/

.outlined {
    background-color: var(--transparent);
    transition: border-color 400ms, background-color 400ms, color 300ms;
}


/***** Outlined Primary *****/

.outlined.primary {
    border: 1px solid var(--blue-200);
    color: var(--blue-200);
}

.outlined.primary:hover {
    background-color: var(--blue-200);
    color: var(--white);
}

.outlined.primary:focus {
    background-color: var(--blue-200);
    color: var(--white);
}

.outlined.primary:active {
    background-color: var(--blue-300);
    border-color: var(--blue-300);
    color: var(--white);
}


/***** Outlined Gray *****/

.outlined.gray {
    border: 1px solid var(--gray-700);
    color: var(--gray-700);
}

.outlined.gray:hover {
    background-color: var(--gray-700);
    color: var(--white);
}

.outlined.gray:focus {
    background-color: var(--gray-700);
    color: var(--white);
}

.outlined.gray:active {
    background-color: var(--gray-700);
    color: var(--white);
}


/***** Outlined White *****/

.outlined.white {
    border: 1px solid var(--white);
    color: var(--white);
}

.outlined.white:hover {
    background-color: var(--white);
    color: var(--gray-700);
}

.outlined.white:focus {
    background-color: var(--white);
    color: var(--gray-700);
}

.outlined.white:active {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--gray-700);
}


/***** Ghost *****/

.ghost {
    background-color: var(--transparent);
    border: 1px solid var(--transparent);
    transition: border-color 400ms, background-color 400ms, color 300ms;
}


/***** Ghost Primary *****/

.ghost.primary {
    color: var(--blue-200);
}

.ghost.primary:hover {
    color: var(--blue-300);
}


/***** Ghost Gray *****/

.ghost.gray {
    color: var(--gray-700);
}


/***** Ghost White *****/

.ghost.white {
    color: var(--white);
}



/***** End Adornment Container *****/

.endAdornmentContainer {
    margin-left: 5px;
}