/***** Base Button Styles *****/

.button {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    border: 0.0625rem solid;
    border-radius: 0.3125rem;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}


/***** Contained *****/

.contained {
    transition: border-color 400ms, background-color 400ms, box-shadow 400ms;
}


/***** Contained Primary *****/

.contained.primary {
    background-color: var(--blue-200);
    border: 0.0625rem solid var(--blue-200);
    color: var(--white);
}

.contained.primary:hover {
    background-color: var(--blue-300);
    border: 0.0625rem solid var(--blue-300);
}

.contained.primary:focus {
    background-color: var(--blue-300);
    border: 0.0625rem solid var(--blue-300);
}

.contained.primary:active {
    background-color: var(--blue-300);
    border: 0.0625rem solid var(--blue-300);
    box-shadow: 0 0 0 0.25rem var(--blue-100);
}


/***** Contained Gray *****/

.contained.gray {
    background-color: var(--gray-700);
    border: 0.0625rem solid var(--gray-700);
    color: var(--white);
}

.contained.gray:hover {
    background-color: var(--gray-700);
    border: 0.0625rem solid var(--gray-700);
}

.contained.gray:focus {
    background-color: var(--gray-700);
    border: 0.0625rem solid var(--gray-700);
}

.contained.gray:active {
    background-color: var(--gray-700);
    border: 0.0625rem solid var(--gray-700);
    box-shadow: 0 0 0 0.2188rem var(--gray-200);
}


/***** Contained White *****/

.contained.white {
    background-color: var(--white);
    border: 0.0625rem solid var(--white);
    color: var(--gray-700);
}

.contained.white:hover {
    background-color: var(--white);
    border: 0.0625rem solid var(--white);
}

.contained.white:focus {
    background-color: var(--white);
    border: 0.0625rem solid var(--white);
}

.contained.white:active {
    background-color: var(--white);
    border: 0.0625rem solid var(--white);
    box-shadow: 0 0 0 0.1875rem var(--white);
}


/***** Outlined *****/

.outlined {
    background-color: var(--transparent);
    transition: border-color 400ms, background-color 400ms, color 300ms;
}


/***** Outlined Primary *****/

.outlined.primary {
    border: 0.0625rem solid var(--blue-200);
    color: var(--blue-200);
}

.outlined.primary:hover {
    background-color: var(--blue-200);
    color: var(--white);
}

.outlined.primary:focus {
    background-color: var(--blue-200);
    color: var(--white);
}

.outlined.primary:active {
    background-color: var(--blue-300);
    border-color: var(--blue-300);
    color: var(--white);
}


/***** Outlined Gray *****/

.outlined.gray {
    border: 0.0625rem solid var(--gray-700);
    color: var(--gray-700);
}

.outlined.gray:hover {
    background-color: var(--gray-700);
    color: var(--white);
}

.outlined.gray:focus {
    background-color: var(--gray-700);
    color: var(--white);
}

.outlined.gray:active {
    background-color: var(--gray-700);
    color: var(--white);
}


/***** Outlined White *****/

.outlined.white {
    border: 0.0625rem solid var(--white);
    color: var(--white);
}

.outlined.white:hover {
    background-color: var(--white);
    color: var(--gray-700);
}

.outlined.white:focus {
    background-color: var(--white);
    color: var(--gray-700);
}

.outlined.white:active {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--gray-700);
}


/***** Ghost *****/

.ghost {
    background-color: var(--transparent);
    border: 0.0625rem solid var(--transparent);
    transition: border-color 400ms, background-color 400ms, color 300ms;
}


/***** Ghost Primary *****/

.ghost.primary {
    color: var(--blue-200);
}

.ghost.primary:hover {
    color: var(--blue-300);
}


/***** Ghost Gray *****/

.ghost.gray {
    color: var(--gray-700);
}


/***** Ghost White *****/

.ghost.white {
    color: var(--white);
}



/***** End Adornment Container *****/

.endAdornmentContainer {
    margin-left: 0.5rem;
    margin-top: 0.0625rem;
}