.contactForm {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.contactForm .sendButtonWrapper {
  display: grid;
  place-content: end;
}

.contactForm .sendButtonWrapper .sendButton {
  min-width: 11.25rem;
}

.contactForm .sendButtonWrapper .sendButton .icon {
  margin-left: 0.75rem;
}

.contactForm .sendButtonWrapper .sendButton .icon svg {
  width: 1rem;
  height: 1rem;
}