.footer {
  padding: 2rem 2rem;
  border-top: 0.0625rem solid var(--border);
}

.footer .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
}

.footer .logo {
  width: 2.1875rem;
}

.footer .socialLinks {
  width: 9.375rem;
  padding: 0;
  list-style-type: none;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0.0625rem, 1fr));
  justify-content: space-between;
}

.footer .copyright {
  justify-self: center;
}

.footer .socialLinks .item:not(:last-child) {
  margin-right: 1rem;
}

.footer .socialLinks .item .socialLink .icon {
  color: var(--gray-700);
}

.footer .socialLinks .item .socialLink .icon svg {
  width: 1rem;
  height: 1rem;
}


/***** Mobile *****/

@media only screen and (max-width: 47.9375rem) {
  .footer .grid {
    grid-template-columns: 1fr;

  }

  .footer .socialLinks {
    display: none;
  }

  .footer .logo {
    display: none;
  }
}