.container {
  width: 484px;
  border: 1px solid var(--border);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 12px;
  background: var(--white);
}

.container .emailInput {
  width: 100%;
  height: 100%;
  padding: 0 0 0 12px;
  background-color: var(--transparent);
  border: none;
}


.container .emailInput:focus {
  outline: none;
}

.container .subscribeButtonWrapper {
  padding: 7px 8px;
}

.container .subscribeButtonWrapper .subscribeButton {
  width: 105px;
  height: 40px;
  border-radius: 10px;
}

/***** Mobile *****/

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}