.navbar {
  display: flex;
  width: 100%;
  padding: 16px 32px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.links {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
}

.link:not(last-child) {
  margin: 12px;
}