@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;900&display=swap");
@import "normalize.css";


/***** Theme Values *****/

:root {
  /* Colors */

  --blue-100: #CCD0FF;
  --blue-200: #8089FE;
  --blue-300: #2030FE;
  --blue-400: #010FC1;
  --blue-500: #010A7F;

  --green-100: #C8E6C9;
  --green-500: #1B5E20;
  --red-100: #FFC2AD;
  --red-500: #820000;

  --gray-50: #FCFCFC;
  --gray-100: #F7F7F7;
  --gray-200: #EEEEEE;
  --gray-300: #C5C5C6;
  --gray-400: #676767;
  --gray-500: rgba(0, 0, 0, 0.6);
  --gray-600: rgba(0, 0, 0, 0.7);
  --gray-700: rgba(0, 0, 0, 0.8);

  --white: #FFFFFF;
  --black: #000000;

  --transparent: rgba(0, 0, 0, 0);
  --border: rgba(0, 0, 0, 0.03);
  --overlay: rgba(0, 0, 0, 0.6);
  --card-overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  --overlay-text: rgba(255, 255, 255, 0.9);


  /* Types */

  --heading-1: 300 3.375rem/4.5625rem "Noto Sans", sans-serif;
  --heading-2: 300 2.625rem/3.5625rem "Noto Sans", sans-serif;
  --heading-3: 300 2rem/2.6875rem "Noto Sans", sans-serif;
  --heading-4: 400 1.75rem/2.375rem "Noto Sans", sans-serif;
  --heading-5: 400 1.25rem/1.6875rem "Noto Sans", sans-serif;
  --heading-6: 600 0.875rem/1.1875rem "Noto Sans", sans-serif;
  --heading-7: 600 0.75rem/1rem "Noto Sans", sans-serif;

  --body-1: 400 1.125rem/1.5rem "Noto Sans", sans-serif;
  --body-2: 400 1rem/1.3125rem "Noto Sans", sans-serif;
  --body-3: 400 0.875rem/1.1875rem "Noto Sans", sans-serif;
  --body-4: 400 0.75rem/1rem "Noto Sans", sans-serif;
  --body-5: 400 0.625rem/0.8125rem "Noto Sans", sans-serif;

  --display-1: 900 2.8125rem/3.8125rem "Noto Sans", sans-serif;
  --display-2: 900 1.875rem/2.5rem "Noto Sans", sans-serif;
  --display-3: 900 1.25rem/1.6875rem "Noto Sans", sans-serif;
}


/***** Global Styles *****/

body {
  font-family: "Noto Sans", sans-serif;
  color: var(--gray-700);
}

main {
  min-height: calc(100vh - 12.4619rem);
}


/***** Dark Theme *****/

@media (prefers-color-scheme: dark) {}


/***** Desktop *****/

@media only screen and (min-width: 62rem) {}


/***** Tablet *****/

@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {}


/***** Mobile *****/

@media only screen and (max-width: 47.9375rem) {}