.buttonGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.75rem;
}

.buttonGroup .button {
  min-width: 7rem;
}

.buttonGroup .button .openIcon svg {
  width: 1rem;
  height: 1rem;
}