.formControl {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.75rem;
}

.formControl .label {
  font: var(--body-2);
}

.formControl .inputWrapper {
  position: relative;
}

.formControl .inputWrapper .input {
  width: 100%;
  padding: 0.875rem 0.75rem;
  box-sizing: border-box;
  border: 0.0625rem solid var(--border);
  border-radius: 0.3125rem;
  background-color: var(--gray-50);
  font: var(--body-3);
  transition: border-color 400ms, background-color 400ms;
}

.formControl .inputWrapper .input:hover {
  border-color: var(--gray-300);
}

.formControl .inputWrapper .input:focus {
  outline: none;
  background-color: var(--transparent);
  border-color: var(--blue-300);
}

.formControl .inputWrapper .input.multiline {
  min-height: 12.5rem;
  max-height: 25rem;
  resize: vertical;
}

.formControl .endAdornmentContainer {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 0.75rem;
}