.formControl {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
}

.label {
  font: var(--body-2);
}

.input {
  padding: 14px 12px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--gray-50);
  font: var(--body-3);
  transition: border-color 400ms, background-color 400ms;
}

.input:hover {
  border-color: var(--gray-300);
}

.input:focus {
  outline: none;
  background-color: var(--transparent);
  border-color: var(--blue-300);
}

.input.multiline {
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
}