.articles {
  display: grid;
  row-gap: 3.125rem;
  padding: 6.25rem 5rem;
}

.articles .topSection {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}


.articles .articlesList {
  display: grid;
  row-gap: 2rem;
}

.articles .articlesList .newestArticle {
  height: 34.375rem;
}

.articles .articlesList .newestArticle a {
  padding: 2.5rem;
}

.articles .articlesList .newestArticle p:nth-child(1) {
  font: var(--body-4);
}

.articles .articlesList .newestArticle h6 {
  font: var(--heading-5);
}

.articles .articlesList .newestArticle p:nth-child(3) {
  font: var(--body-3);
}

.articles .articlesList .articlesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
}


/***** Mobile *****/

@media only screen and (max-width: 47.9375rem) {
  .articles .topSection {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .articles .topSection .title {
    text-align: center;
  }

  .articles .articlesList .newestArticle {
    height: 15.625rem;
  }

  .articles .articlesList .newestArticle a {
    padding: 1rem;
  }

  .articles .articlesList .newestArticle p:nth-child(1) {
    font: var(--body-5);
  }

  .articles .articlesList .newestArticle h6 {
    font: var(--heading-7);
  }

  .articles .articlesList .newestArticle p:nth-child(3) {
    font: var(--body-4);
  }

  .articles .articlesList .articlesGrid {
    grid-template-columns: 1fr;
  }
}