.projects {
  padding: 6.25rem 2rem;
  border-bottom: 0.0625rem solid var(--border);
}

.projects .outerGrid {
  display: grid;
  grid-template-columns: 18.75rem 1fr;
  column-gap: 3.75rem;
  row-gap: 3.75rem;
  margin-bottom: 1.5rem;
}

.projects .outerGrid .description {
  max-width: 10.625rem;
}

.projects .outerGrid .descriptionWrapper .description .header {
  margin-bottom: 1rem;
}

.projects .outerGrid .descriptionWrapper .description .text {
  margin-bottom: 1.5rem;
}

.projects .outerGrid .descriptionWrapper .underline {
  width: 6.5625rem;
  height: 0.0625rem;
  background-color: var(--blue-200);
}

.projects .outerGrid .innerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}

.projects .outerGrid .innerGrid .item {
  position: relative;
  width: 100%;
  height: 11.875rem;
  border: 0.0938rem solid var(--border);
  border-radius: 0.3125rem;
  overflow: hidden;
}

.projects .outerGrid .innerGrid .item .thumbnail {
  width: 100%;
  height: 100%;
}

.projects .outerGrid .innerGrid .item .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3125rem;
  display: grid;
  grid-template-rows: min-content min-content;
  place-items: center;
  place-content: center;
  background-color: var(--overlay);
  visibility: hidden;
  opacity: 0;
  transition: visibility 1ms, opacity 800ms;
}

.projects .outerGrid .innerGrid .item:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.projects .outerGrid .innerGrid .item .overlay .demoButton,
.projectButton {
  max-width: 9.375rem;
  min-width: 9.375rem;
  border-radius: 1.25rem !important;
}

.projects .outerGrid .innerGrid .item .overlay .demoButton {
  margin-bottom: 0.75rem;
}

.projects .outerGrid .innerGrid .item .overlay .icon svg {
  width: 1rem;
  height: 1rem;
}

.projects .seeMoreButtonWrapper {
  display: grid;
  place-items: end;
}

.projects .seeMoreButtonWrapper .icon {
  margin-left: 0.75rem;
}

.projects .seeMoreButtonWrapper .icon svg {
  width: 1rem;
  height: 1rem;
}

.projects .seeMoreButtonWrapper .seeMoreButton {
  min-width: 11.25rem;
}


/***** Tablet *****/

@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .projects .outerGrid {
    grid-template-columns: 9.375rem 1fr;
  }

  .projects .outerGrid .innerGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}


/***** Mobile *****/

@media only screen and (max-width: 47.9375rem) {
  .projects .outerGrid {
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
    row-gap: 3.75rem;
    margin-bottom: 3.75rem;
  }

  .projects .outerGrid .descriptionWrapper {
    display: grid;
    place-items: center;
  }

  .projects .outerGrid .descriptionWrapper .underline {
    width: 3.125rem;
  }

  .projects .outerGrid .description {
    text-align: center;
  }

  .projects .outerGrid .innerGrid {
    grid-template-columns: repeat(1, auto);
    row-gap: 3.75rem;
  }

  .projects .outerGrid .innerGrid .item {
    height: 15rem;
  }

  .projects .seeMoreButtonWrapper {
    place-content: center;
  }
}